body {
        background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}
    
    
header {
    position: sticky;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: rgb(81, 250, 29);
    padding: 1%;
    font-size: 0.7cm;


    .left {
        float: left;
        padding-left: 1%;
              

    }


    .center {
        float: none;
    }
    .right {
        float: right;
        padding-right: 1%;
    }

            

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
    }
}
        
        
        
footer {
    position:sticky;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(39, 39, 39);
    color: white;
    align-content:center;
    /*text-align: center;*/
          
            
}

p {
        font-size:0.5cm;
}