body {
        background-color: black;
        margin-top: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}
    
    
header {
    position: sticky;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: rgb(81, 250, 29);
    padding: 1%;
    font-size: 0.7cm;
    z-index: 1;


    .left {
        float: left;
        padding-left: 1%;
              

    }


    .center {
        float: none;
    }
    .right {
        float: right;
        padding-right: 1%;
    }

            

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
    }
}
        
table.projects {
    border-collapse: collapse;
    border-color: red;
    width: 100%
}

.projects {
    td {
        width: 50%;
    }
    
    
    img {
        width: 100%;
        padding: 2%;
    }
}




.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;    
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  white-space: nowrap;
}





        
footer {
    position:sticky;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(39, 39, 39);
    color: white;
    align-content:center;
    /*text-align: center;*/
          
            
}

p {
        font-size:0.5cm;
}