* {
    margin: 0;
    padding: 0;
}




body {
        background-color: black;
        margin-top: 0px;


        display: grid;
        grid-template-rows: minmax(1.4cm , 7dvh) minmax(87dvh, auto) minmax(0.7cm, 6dvh);
        grid-template-columns: 100%;

        
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}
    
    
header {
    position: sticky;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: rgb(81, 250, 29);
    padding: 1%;
    font-size: 0.7cm;
    height: auto;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;

    top: 0;


    .title {
        color: white;
        font-weight: 700;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
    }
}



.container_2part_projects {
    display: grid;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;


    a.image-container {
        padding: 2%;
    }
}

.container_2part_project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    columns: 2;
    



    div.project_description {
        position: relative;
        text-align: left;
        padding: 1%;
        height: auto;
        /* border: 1px solid white; */


        label {
            color: white;
        }

        progress {
            border-style:hidden;
            width: 30vw;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

}


.image-container {
  position: relative;
  flex: 1;
  width: 100%;
  
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;    
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  white-space: nowrap;
}








        
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
    font: 0.5cm;
    bottom: 0;
          
            
}



@media (max-width: 500px) {
    .container_2part_project {
        grid-template-columns: 1fr;
    }

    .container_2part_projects {
        grid-template-columns: 1fr;
    }

    .overlay-text {
        font-size: 1cm;
    }
}